@import "../../styles/variables.scss";

.header {
  background-image: url("../../images/hero.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-bottom: 4px solid black;
  width: 100%;
  height: 600px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px 26px;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    box-shadow: 0 2px 10px rgba($primary-color, 0.3);
  }

  @media screen and (min-width: 768px) {
    padding: 15px 20px 6px;
  }
}

.header-content,
.header-logo-nav {
  color: white;
  width: 100%;
  max-width: 1400px;
  margin: 130px auto 0;

  h1 {
    color: white;
    text-shadow: 0 2px 4px rgba($primary-color, 0.5);
    margin: 0 0 10px 0;
  }

  h2 {
    font-size: 50px;
    line-height: 64px;
  }
}

.header-logo-nav {
  margin: 0 auto;
}
