<!-- Component HTML goes here - example fo databinding from https://github.com/SantiagoGdaR/js-two-way-binding/blob/master/index.html -->
<h2>Two way data binding Example</h2>
<label for="dataFirstName">Name: </label>
<input id="dataFirstName" data-tw-bind="name" type="text">
<p data-tw-bind="name"></p>
<label for="dataSurName">Surname: </label>
<input id="dataSurName" data-tw-bind="surname" type="text">
<label for="dataSurNameTwo">Two way Surname: </label>
<input id="dataSurNameTwo" data-tw-bind="surname" type="text">