$primary-color: black;
$light-grey: lightgrey;
$dark-blue: darkblue;
$grey: #ccc;
$slategrey: #708090;
$feint-grey: rgb(247, 247, 238);

$font-family: "Open Sans", sans-serif;
$font-size: 1rem;
$line-height: 1.5;
