$primary-color: #232340;
$light-grey: lightgrey;
$dark-blue: #232340;
$dark-grey: #333;
$grey: #ccc;
$slategrey: #708090;
$feint-grey: rgb(247, 247, 238);
$orange: #ec6116bd;

$font-family: sans-serif;
$font-size: 1rem;
$line-height: 1.5;
