@import "../../styles/mixin.scss"; // remove if not needed

.aboutview {
  // Component styles go here
  background-color: lightcyan;
  border: 4px solid grey;
  margin: 20px auto;
  padding: 10px;
}
