@import "../../styles/variables.scss";

.footer {
  background-color: $primary-color;
  padding: 20px;
  position: relative;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;

  h2,
  h3 {
    margin-top: 0;
  }

  h2,
  p {
    color: white;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.footer-column {
  width: 100%; /* 100% width on mobile */
  margin-bottom: 20px;
  padding: 0 15px;
}

.footer-column h3 {
  color: white;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: white;
  }
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: auto;
  }
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid darken($light-grey, 10%);
}

/* Desktop styles */
@media (min-width: 768px) {
  .footer-column {
    width: calc(25% - 30px); /* Evenly distributed columns on desktop */
  }
}
