@import "../../styles/variables.scss";

.footer {
  background-color: $light-grey;
  padding: 20px;
  border-top: 4px solid black;
  position: relative;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;
}
